# Storage array configuration
export STORAGE_IP="STORAGE_IP"
export STORAGE_IP_SECONDARY="SECONDARY_STORGE_IP"

# Jenkins server
export JENKINS_IP="JENKISNS_IP"

# Client 1 (RAID A Primary)
export CLIENT1_IP="CLIENT_IP"
export CLIENT1_IQN="CLIENT1_IQN"

# Client 2 (RAID A Secondary)
export CLIENT2_IP="CLIENT2_IP"
export CLIENT2_IQN="CLIENT2_IQN"

# Client 3 (RAID B Primary)
export CLIENT3_IP="CLIENT3_IP"
export CLIENT3_IQN="CLIETN3_IQN"

# Client 4 (RAID B Secondary)
export CLIENT4_IP="CLIENT4_IP"
export CLIENT4_IQN="CLIETN4_IQN"
